{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
]
%}

{# anchor start #}
{% if paragraph.field_anchor_position is empty %}
  {% set anchor_pos = 1 %}
{% else %}
  {% set anchor_pos = paragraph.field_anchor_position %}
{% endif %}
{# anchor end #}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }} data-type-anchor="anchor-position--contact-info-{{ anchor_pos }}">
    <div id="anchor-position--contact-info-{{ anchor_pos }}"></div>
    <div class="container clearfix">
      <div class="contact-info-wrapper">
        <h2 class="contact-info-headline">{{ paragraph.field_contact_headline.value }}</h2>

        <div class="contact-info-inner-contents">
          <div class="contact-info-content">
            {% if paragraph.field_contact_text.value is not empty %}
              <div class="contact-info-text">{{ paragraph.field_contact_text.value|raw }}</div>
            {% endif %}

            <div class="contact-info-call-info">
              <div class="contact-info-media">
                {% if paragraph.field_contact_image.isEmpty() != true %}
                  <img class="lazyload contact-image" src="{{ file_url(paragraph.field_contact_image.entity.field_media_image.entity.uri.value | image_style('contact')) }}"
                       alt="{{ paragraph.field_contact_image.entity.field_media_image.alt }}" />
                {% endif %}
              </div>
              <div class="contact-info-numbers-and-service">
                <div class="contact-info-numbers">

                  <div class="contact-info-phone-whatsapp">
                    <ul class="phone-whatsapp">
                      <li>
                        <i class="fal fa-phone"></i>&nbsp;<strong>{{ 'Anrufen'|t }}</strong>&nbsp;
                        <a href="tel:{{ paragraph.field_contact_telephone.value }}">
                          {{ paragraph.field_contact_telephone.value }}
                        </a>
                      </li>
                      <li>
                        <i class="fab fa-whatsapp"></i>&nbsp;<strong>{{ 'WhatsApp Chat'|t }}</strong>&nbsp;
                        <a href="tel:{{ paragraph.field_contact_whatsapp.value }}">
                          {{ paragraph.field_contact_whatsapp.value }}
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="contact-info-mail-kostenloser">
                    <ul class="mail-kostenloser">
                      <li>
                        <i class="fal fa-envelope"></i>&nbsp;<strong>{{ 'E-Mail'|t }}</strong>&nbsp;
                        <a href="mailto:{{ paragraph.field_contact_email.value }}">
                          {{ paragraph.field_contact_email.value }}
                        </a>
                      </li>
                      <li>
                        {% if paragraph.field_contact_kostenloser.title is not empty %}
                          {% set kostenloser_url = paragraph.field_contact_kostenloser.0.url.toString() is empty ? '#' :
                            paragraph.field_contact_kostenloser.0.url  %}
                          <i class="fal fa-calendar-alt"></i>&nbsp;<strong>{{ 'Kostenloser'|t }}</strong>&nbsp;
                          <a href="{{ kostenloser_url }}">
                            {{ paragraph.field_contact_kostenloser.title }}
                          </a>
                        {% endif %}
                      </li>
                    </ul>
                  </div>

                </div> {# contact-info-numbers #}
                <div class="contact-info-service">{{ paragraph.field_contact_service_period.value }}</div>
              </div> {# contact-info-numbers-and-service #}
            </div> {# contact-info-call-info #}
          </div> {# contact-info-content #}

          <div class="contact-info-media-right">
            {% if paragraph.field_contact_right_image.isEmpty() != true %}
              <img class="lazyload contact-right-image" src="{{ file_url(paragraph.field_contact_right_image.entity.field_media_image.entity.uri.value | image_style('contact_right')) }}"
                   alt="{{ paragraph.field_contact_right_image.entity.field_media_image.alt }}" />
            {% endif %}
          </div>
        </div>  {# contact-info-inner-contents #}

      </div>
    </div>
  </div>
{% endblock paragraph %}
